<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="assets/css/lib/bootstrap.min.css">
    <script src="assets/js/lib/jquery-3.3.1.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <style>
        body{
            background-color: mediumturquoise ;
        }
        #comments
        {
            background-color: rgb(235, 217, 172);
            height: 300px;
        }

        #newPost
        {
            background-color: darkgrey;font-size: larger;
            margin: 10px;
            direction: rtl;
        }

        .buttons
        {
            margin-top: 10px;
            margin-right: 10px;
        }
        #postbox
        {
            background-color: yellow;
            height: auto;
            border-style:solid;
            border-radius: 5%;
        }
        
    
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="background-color:plum">
            <h1 class="display-4">سلام استاد "نام استاد اینجا می آید</h1><br />
            <p class="lead" style="color: red"><b>صفحه ای که در آن هستید پنل کاربری شماست! از اینجا میتوانید مطالب خود را برای دانشجویان منتشر
                کنید نظرات آن ها را مشاهده و تایید یا رد نمایید</b></p>
            <hr class="my-4">
            <a class = "btn btn-primary" href="">خروج</a>

        </div>

        <div class = "row">
            <div class = "col-md-12">
                <p id = "newPost">قصد انتشار یک مطلب برای دانشجویان را دارید؟  بر روی  مطلب جدید کلیک کنید!<a class ="btn btn-primary" style="margin: 30px;;">مطلب جدید</a></p>
            </div>
        </div>
        {{{st}}}
        <div class = "row" style = "margin-top: 30px;">
            <div class = "col-md-6" id = "comments">
                <p style="font-size: larger;direction: rtl;">نظرات تایید نشده:</p>
    {{#comments}}
                <div id = "postbox"  dir ="rtl" style="background-color: aqua;">
                    <span class="buttons" style="font-size: 25px;color:brown">{{sname}}</span> <br />
                    <span style = "margin-right: 10px;font-size: 20px;margin-top: 5px;">{{commentText}}</span>
                    <br /><a class="btn btn-success" style="margin-right: 50%;margin-top: 10px;margin-bottom: 10px;">تایید</a>
                    <a class="btn btn-danger" class="buttons" href = "/delComment?id={{commentid}}" >عدم تایید</a>
                </div>
    {{/comments}}
            </div>
            <div class = "col-md-6" style="background-color: darkkhaki;height: 300px ;">
                <p style="font-size: larger;direction: rtl;">پست های ارسالی توسط شما:</p>
                <div id = "postbox"  dir ="rtl">
                    <span class="buttons" style="font-size: 25px;">عنوان پست اینجا می آید</span> <br />
                    <span style = "margin-right: 10px;font-size: 23px;margin-top: 5px;">تاریخ انشتار پست در اینجا می آید</span>
                    <br /><a class="btn btn-success" style="margin-right: 50%;margin-top: 10px;margin-bottom: 10px;">مشاهده</a>
                    <a class="btn btn-warning" class="buttons" >ویرایش</a>
                    <a class="btn btn-danger" class="buttons" >حذف</a>
                </div>
            </div>
        </div>


    </div>

</body>

</html>